{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "ignorePath": ".prettierignore",
    "jsxSingleQuote": false,
    "requireConfig": false,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "endOfLine": "auto"
}
